body {
  font-family: Monaco, Arial, sans-serif;
  background-color: #121212; /* Màu nền tối */
  color: #e0e0e0;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header-items {
  display: flex;
  gap: 10px;
}
