#default-sidebar {
  height: calc(100vh - 140px);
  min-width: 250px;
  max-width: 250px;
  width: 26%;

  ul > li {
    max-width: 250px;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  svg {
    width: 10%;
    min-width: 21px;
  }
}

.menu-sidebar {
  overflow: hidden;
  &:hover {
    overflow-y: scroll;
  }
}

.menu-sidebar::-webkit-scrollbar {
  display: none;
}

.menu-sidebar:hover::-webkit-scrollbar {
  display: inherit;
}
