.tag-selected {
  z-index: 0;
  .el-select-v2__wrapper {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    &.is-active {
      box-shadow: none;
    }
  }

  .el-tag {
    border: none;
    padding: 12px;
    border-radius: 20px;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;

    .el-icon {
      color: #ffffff;
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  height: 37px;

  @mixin threeDots() {
    content: "...";
    font-size: 12px;
    height: 27px;
    padding: 0 15px;
    font-weight: normal;
    color: #ffffff;
    border-radius: 1000px;
    margin-bottom: 5px;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 38px;
    overflow: hidden;

    &.overflowed {
      .tags {
        flex-direction: row-reverse;
        justify-content: flex-end;

        &::before {
          @include threeDots;
        }
      }
    }

    @include max-width(sm) {
      max-height: 64px;
      flex-direction: column-reverse;

      &.overflowed {
        .tags {
          flex-direction: row;
          justify-content: flex-start;

          &::before {
            margin-bottom: 0;
            margin-top: 5px;
            flex: 1;
          }

          &::after {
            @include threeDots;
            margin-bottom: 0;
            margin-top: 5px;
          }

          .tag {
            // margin-bottom: 0;
            // margin-top: 5px;
          }
        }
      }
    }
  }

  .tag {
    // @include text-ellipsis;

    &:hover {
      background: var(--tag-hover);
    }
  }

  &:empty {
    margin-bottom: 0;
  }
}
