{{template "base" .}}

<div class="content">
  <session class="list"><div id="articles"></div></session>

  <div class="pagination" id="pagination"></div>
</div>
{{template "footer" .}}

<script>
  var articles = [];
  var paginationContainer = null;
  var itemsPerPage = 10;
  var currentPage = 1;
  var totalPages = 1;
  var input = { perPage: itemsPerPage, page: currentPage };
  var queryParams = {};
  const articleQuery = `query Articles($input: pagyInput!, $query: articlesQueryInput!) {
          articles(input: $input, query: $query) {
              collection {
                  id
                  title
                  previewContent
              }
              ${METADATA}
          }
      }`;

  async function fetchArticles(input, queryParams) {
    const variables = {
      input: input,
      query: queryParams,
    };
    const requestOptions = {
      body: JSON.stringify({ query: articleQuery, variables: variables }),
    };

    const response = await executeApi(
      `${BASE_URL}fateskinkGql`,
      requestOptions,
    );
    const data = response.data;

    if (data) {
      totalPages = data.articles.metadata.pages;
      articles = data.articles.collection;
    }
  }

  function displayArticles() {
    const articlesContainer = document.getElementById("articles");
    articlesContainer.innerHTML = ""; // Clear existing articles

    articles.forEach((article) => {
      const articleElement = document.createElement("div");
      articleElement.classList.add("article");

      const titleElement = document.createElement("h3");
      titleElement.innerText = article.title;

      const contentPreviewElement = document.createElement("p");
      contentPreviewElement.innerText = article.previewContent;

      articleElement.appendChild(titleElement);
      articleElement.appendChild(contentPreviewElement);
      articlesContainer.appendChild(articleElement);
    });

    handlePagination();
  }

  async function fetchArticleList(input, queryParams) {
    await fetchArticles(input, queryParams);
    displayArticles();
  }

  function handlePagination() {
    paginationContainer = document.getElementById("pagination");
    paginationContainer.innerHTML = ""; // Clear existing pagination

    handlePrevButton();
    handlePageButton();
    handleNextButton();
  }

  // Previous button
  function handlePrevButton() {
    const prevButton = document.createElement("button");
    prevButton.innerText = "Previous";

    prevButton.onclick = () => {
      if (currentPage > 1) {
        currentPage--;
        input["page"] = currentPage;
        fetchArticleList(input, queryParams);
      }
    };

    if (currentPage === 1) {
      prevButton.classList.add("disabled");
      prevButton.disabled = true;
    }
    paginationContainer.appendChild(prevButton);
  }

  // Next button
  function handleNextButton() {
    const nextButton = document.createElement("button");
    nextButton.innerText = "Next";

    nextButton.onclick = () => {
      if (currentPage < totalPages) {
        currentPage++;
        input["page"] = currentPage;
        fetchArticleList(input, queryParams);
      }
    };

    if (currentPage === totalPages) {
      nextButton.classList.add("disabled");
      nextButton.disabled = true;
    }
    paginationContainer.appendChild(nextButton);
  }

  // Page buttons
  function handlePageButton() {
    for (let i = 1; i <= totalPages; i++) {
      const button = document.createElement("button");
      button.innerText = i;

      button.onclick = () => {
        currentPage = i;
        input["page"] = currentPage;
        fetchArticleList(input, queryParams);
      };
      if (i === currentPage) {
        button.style.fontWeight = "bold";
        button.style.backgroundColor = "#0056b3";
      }
      paginationContainer.appendChild(button);
    }
  }

  window.onload = async () => {
    fetchArticleList(input, queryParams);
  };
</script>

<style>
  #articles {
    width: 60%;
  }

  .article {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: left;
    background-color: #1e1e1e;
  }

  .content session.list {
    display: flex;
    justify-content: center;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .pagination button {
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #76ff03;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .pagination button:hover {
    background-color: #64dd17;
  }
  .pagination button.disabled {
    background-color: #444;
    cursor: not-allowed;
  }
</style>
