{{template "base" .}}
<!-- page content -->
<session id="sigin-sesion">
  <div class="login-form">
    <h2>Sign In</h2>
    <form onsubmit="return signIn(event)">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />

      <input type="submit" value="Sign In" />
    </form>
  </div>
</session>

<script>
  async function signIn(event) {
    event.preventDefault();
    const srcElement = event.srcElement;
    const email = srcElement.querySelector("#email").value;
    const password = srcElement.querySelector("#password").value;
    const query = `
          mutation {
              SignIn(email: "${email}", password: "${password}") {
                  token
              }
          }
      `;

    try {
      const requestOptions = {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ query }),
      };

      const response = await executeApi(
        `${BASE_URL}fateskinkGql`,
        requestOptions,
      );
      const data = response.data;

      if (data) {
        const signInResponse = data.SignIn;

        if (signInResponse) {
          localStorage.setItem("authToken", signInResponse.token);
          window.location.href = "/";
        } else {
          alert("Login failed!\nInvalid response data!");
        }
      } else {
        alert("Login failed!");
      }
    } catch (error) {
      alert(`Bad request!\n ${error}`);
    }
  }
</script>

<style>
  #sigin-sesion {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #sigin-sesion .login-form {
    width: 300px;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 1px solid #ddd;
  }

  #sigin-sesion .login-form h2 {
    color: #76ff03;
  }

  #sigin-sesion .login-form label {
    display: block;
    text-align: left;
    color: #76ff03;
    margin-bottom: 5px;
    font-weight: bold;
  }

  #sigin-sesion .login-form input[type="email"],
  #sigin-sesion .login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #sigin-sesion .login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  #sigin-sesion .login-form input[type="submit"]:hover {
    background-color: #218838;
  }
</style>
