{{template "base" .}}

<session id="sigin-sesion">
  <div class="login-form">
    <h2>Sign In</h2>
    <form onsubmit="return SignIn(event)">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />

      <input type="submit" value="Sign In" />
    </form>
  </div>
</session>

<script>
  async function SignIn(event) {
    event.preventDefault();
    const srcElement = event.srcElement;
    const email = srcElement.querySelector("#email").value;
    const password = srcElement.querySelector("#password").value;

    console.log("email", email, "password", password);
    const query = `
        mutation {
            SignIn(email: "${email}", password: "${password}") {
                token
            }
        }
    `;

    const response = await fetch("http://localhost:3007/fateskinkGql", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ query }),
    });

    if (!response.ok) {
      console.error("Network response was not ok", response.statusText);
      return;
    }

    const { data } = await response.json();
    const signInResponse = data.signIn;

    if (signInResponse) {
      alert(
        `Welcome, ${signInResponse.user.email}! Your token is: ${signInResponse.token}`,
      );
    } else {
      alert("Login failed!");
    }
  }
</script>

<style>
  #sigin-sesion {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #sigin-sesion .login-form {
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  #sigin-sesion .login-form h2 {
    color: #28a745;
  }

  #sigin-sesion .login-form label {
    display: block;
    text-align: left;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
  }

  #sigin-sesion .login-form input[type="email"],
  #sigin-sesion .login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #sigin-sesion .login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  #sigin-sesion .login-form input[type="submit"]:hover {
    background-color: #218838;
  }
</style>
